html {
    background-color: #fff4aa;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #323e2a;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #677842;
    font-size: xxx-large;
}

.rules{
    font-size: x-large;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding: 36px 8px 36px 8px;
}

.playArea {
    display: flex;
    flex-direction: column;
}

.playerHeading {
    text-align: center;
    font-size: x-large;
    padding: 8px;
}

.rpsButtons {
    display: flex;
    gap: 8px;
}
 
.scoreBoard {
    display: flex;
}

.score {
    width: 72px;
}

.selection {
    display: flex;
    flex-direction: column;
    background-color: #d5f3d1;
    border-radius: 15px;
    border-style: none;
    max-width: 120px;
    min-height: 150px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;

}

.selectableButton:hover {
    background-color: #9aba95;
    box-shadow: 0 8px 8px 0 #323e2a, 0 4px 12px 0 #9aba95;
}

.caption {
    color: #323e2a;
    font-size: medium;
    padding: 4px;
}

button img {
    flex: 1;
    object-fit: contain;
    width: 100%;
    pointer-events: none;
}