.rpsButtons {
    display: flex;
    gap: 4px;
}

button {
    display: flex;
    flex-direction: column;
    background-color: #d5f3d1;
    border-radius: 15px;
    border-style: none;
    max-width: 100px;
    min-height: 150px;
}

button:hover {
    background-color: #9aba95;
}

button img {
    flex: 1;
    object-fit: contain;
    width: 100%;
}